.u-grid {
    display: grid;
  
    &--center-v {
        align-items: center;
    }
  
    &--center-h {
        justify-content: center;
    }
  
    &--center{
        @extend .u-grid--center-h;
        @extend .u-grid--center-v;
    }
  }
  
  .u-grid__item {
  
  }
  
  .u-flex {
    display: flex;
  
    &--vertical {
        flex-direction: column;
    }
  
    &--horizontal {
        flex-direction: row;
    }
  
    &--center-v {
        align-items: center;
    }
  
    &--center-h {
        justify-content: center;
    }
  
    &--center{
        @extend .u-flex--center-h;
        @extend .u-flex--center-v;
    }
  
    &--space {
        justify-content: space-around;
    }
  
    &--space-between {
        justify-content: space-between;
    }
  
  }.u-grid {
    display: grid;
  
    &--center-v {
        align-items: center;
    }
  
    &--center-h {
        justify-content: center;
    }
  
    &--center{
        @extend .u-grid--center-h;
        @extend .u-grid--center-v;
    }
  }
  
  .u-grid__item {
  
  }
  
  .u-flex {
    display: flex;
  
    &--vertical {
        flex-direction: column;
    }
  
    &--horizontal {
        flex-direction: row;
    }
  
    &--center-v {
        align-items: center;
    }
  
    &--center-h {
        justify-content: center;
    }
  
    &--center{
        @extend .u-flex--center-h;
        @extend .u-flex--center-v;
    }
  
    &--space {
        justify-content: space-around;
    }
  
    &--space-between {
        justify-content: space-between;
    }
  
  }