@import 'variables';
@import 'utils';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 10px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
	font-size: 1rem;
	line-height: 1rem;
}


.container {
	width: 100vw;
	height: 100vh;
	
	&__image {
		// Fallback
		// background: green;
		background-image: url('../assets/background.png');
		
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	
		&--login {
			position: relative;
		}

		&--home {
			position: fixed;
			opacity: .1;
		}

		&--full-screen {
			height: 100%;
			width: 100%;
		}
	}

	&--home {

		padding: 1em;
		background: $background-overlay;
		color: $util-dark;
	}
}

.btn-container {
	position: absolute;
	bottom: 0;
	padding: 3em 1em;
	width: 100%;
}

.btn {
	width: 50%;
	padding: 1em;
	background: $brand-green--light;
	font-size: 2em;
	font-family: inherit;
	color: #eeeeee;
	border-radius: .5em;
	border: none;
	outline: none;

	&:not(:first-child){
		margin-left: .2em;
	}
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: $brand-gold;
	height: 60px;
}

.footer__list {
	list-style: none;
	width: 100%;
	position: absolute;
}

.list-item {
	color: $util-white;
}

.list-item__button {
	color: inherit;
	font-size: 3em;
}

.matches {
	margin: 1em;
}

.match {
	margin: 1em 0;
	background: rgba(0,146,214,.15);
	border: none;
	border-radius: 0.5em;
	padding: 0.5em;
}

.match__inner {
	margin: 1em;
	display: grid;
	grid-template-columns: 50% 50%;
}

.bet-item {

}

.bet-item__inner {
	margin: 1em;
	display: grid;
	grid-template-columns: 40% 20% 40%;
}

.bet-item__cta {
	
}

.team {

}

.team__item:not(:first-child) {
	margin-left: .5em;
}